.home {
	.header {
		
	}
}

.onde-comprar {
	margin: 30px 0 60px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	.box-comprar {
		padding: 180px 0;
		width: 100%;
		background-color: rgba(#000000,.8);

		.tit {
			color: $verde-limao;
			border-bottom: 4px solid $verde-limao;
			display: block;
			margin: 0 auto 10px;
			width: 360px;
			font-size: 2.7rem;
			text-align: center;
			line-height: 3rem;
		}
	}
}
.select-comprar {
	float: left;
	background-color: #E9E9E9;
	//max-width: 360px;
	width: 100%;
	display: block;
	margin: 0 auto 50px;;
	padding: 30px;
	@include box-sizing;

	p {
		font-size: 1rem;
		line-height: 1rem;
		text-align: center;
		margin-bottom: 15px;
	}

	.select {
		margin-top: 0;
	}
}