.list-item {
	.col-6 {
		margin: 2.5px 0;
	}

	&.list-tipo2 {
		li {
			margin-bottom: 2.5px;
		}
	}

	a {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 35vh;
		width: 100%;
		float: left;
		overflow: hidden;
		@include box-sizing;

		.cont-list-item-box {
			height: 35vh;
			display: table;
			width: 100%;
			background-color: rgba(#000000,.7);
			opacity: 0;
			@include animacao;
		}

		.cont-list-item {
			display: table-cell;
			vertical-align: middle;

			img, span, p {
				display: block;
				margin: 0 auto 10px;
			}

			img {
				max-height: 100px;
			}

			span, p {
				width: 70%;
				//max-width: 260px;
				color: #ffffff;
				text-align: center;
			}

			span {
				font-size: 2rem;
				line-height: 2.5rem;
				border-bottom: 4px solid $verde-limao;
				text-transform: uppercase;
			}

			p {
				margin-bottom: 0px;
				font-size: 1rem;
				line-height: 1.225rem;
			}
		}

		&:hover {
			.cont-list-item-box {
				opacity: 1;
			}
		}
	}

	li {
		&.row-2 {
			a {
				height: 70.56vh;

				.cont-list-item-box {
					height: 70.56vh;
				}
			}
		}
	}

	&.list-produto {
		text-align: center;
		li {
			height: 460px;
			width: 460px;
			display: inline-block;
			margin: 50px 0;
		}

		a {
			height: 460px;
			width: 460px;
			background-size: 100%;

			.cont-list-item-box {
				height: 460px;
			}
		}
	}
}

.itens_combinacoes {
	li {
		display: block;
		border-bottom: 3px solid $verde-limao;
		padding-bottom: 15px;
		margin-bottom: 40px;
		width: 100%;

		&:last-child {
			border: none;
			padding-bottom: 0px;
			margin-bottom: 0px;
		}

		.itens {
			display: inline-block;
			vertical-align: top;
			width: 18%;
			min-height: 200px;
			@include box-sizing;

			span {
				font-size: 1.5rem;
				text-align: center;
				display: block;
				line-height: 1.75rem;
				font-weight: $regular;
				color: #000;
			}

			img {
				width: 100%;
				display: block;
			}
		}

		.mais {
			width: 3%;

			img {
				margin-top: 50px;
			}
		}

		.box-combinacoes {
			padding: 20px;
			width: 59%;
			background-color: #F1F1F2;

			span {
				color: $verde-limao;
				text-transform: uppercase;
				display: block;
				text-align: left;
				font-weight: $regular;
			}

			p {
				margin-top: 10px;
				font-size: 1rem;
				line-height: 1.225rem;
			}
		}
	}
}

.ico-page {
	width: 100%;
	display: block;
	margin: 0px 0 50px;
	text-align: center;

	img {
		display: inline-block;
		margin: 0 30px;
	}
}