.list-item {
	.col-6 {
		margin: 2.5px 0;
	}

	a {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 35vh;
		width: 100%;
		float: left;
		overflow: hidden;
		@include box-sizing;

		.cont-list-item-box {
			height: 35vh;
			display: table;
			width: 100%;
			background-color: rgba(#000000,.7);
			opacity: 0;
			@include animacao;
		}

		.cont-list-item {
			display: table-cell;
			vertical-align: middle;

			img, span, p {
				display: block;
				margin: 0 auto 10px;
			}

			span, p {
				width: 80%;
				max-width: 260px;
				color: #ffffff;
				text-align: center;
			}

			img {
				
			}

			span {
				font-size: 2rem;
				line-height: 2.5rem;
				border-bottom: 4px solid $verde-limao;
			}

			p {
				margin-bottom: 0px;
				font-size: 1rem;
				line-height: 1.225rem;
			}
		}

		&:hover {
			.cont-list-item-box {
				opacity: 1;
			}
		}
	}

	li {
		&.row-2 {
			a {
				height: 70.56vh;

				.cont-list-item-box {
					height: 70.56vh;
				}
			}
		}
	}
}