.comprometimento {
	width: 100%;
	text-align: center;

	li {
		display: inline-block;
		width: 33%;

		img {
			display: block;
			margin: 0 auto;
		}

		span {
			font-size: $font-size;
			line-height: $font-size+.5;
			font-weight: $light;
			margin: 15px auto 0;
			display: block;
			max-width: 200px;
		}
	}
}