html {
	font-size: 100%; 
	width: 100%;
	overflow-x: hidden;
}

body {
	position: relative;
	min-height: 100vh;
	//min-width: $width;
}

body * {
	font-family: $font-family;
	color: $cor-txt;
	font-weight: $regular;
}

.container {
	max-width: $width; 
	width: 100%;
	padding: 0 $padding-container;
	margin: 0 auto;
	position: relative;
	@include box-sizing();
	@include clear();

	@media all and (max-width: 1000px){
		padding-left: ($padding-container)/2;
		padding-right: ($padding-container)/2;
	}	

	@media all and (max-width: 600px) {
		padding-left: ($padding-container)/4;
		padding-right: ($padding-container)/4;
	}
}

.row {
	display: block;
	@include clear();

	&:not(.no-padding){
		margin-right: ($padding-col)*(-1);
		margin-left: ($padding-col)*(-1);

		[class*="col-"] {
			padding-right: $padding-col; 
			padding-left: $padding-col;
		}
	}

	&.reduzido {
		margin-right: -2.5px;
		margin-left: -2.5px;

		[class*="col-"] {
			padding-right: 2.5px; 
			padding-left: 2.5px;
		}
	}

	&.no-padding {
		margin: 0;
	}

	[class*="col-"] {
		float: left;
		@include box-sizing();

		img {
			max-width: 100%;
		}
	}

	@for $i from 1 through 12 {
		.col-#{$i} {
			width: $i*(100%/12);
		}
	}

	@for $i from 1 through 12 {
		.col-m-#{$i} {
			margin-left: $i*(100%/12);
		}
	}

	.col-4:nth-child(3n+1) {
		@include clear;
	}
}

.box-content {
	@include clear;
	width: 100%;
	position: relative;
	padding: 30px 0;

	&.box-slide {
		position: relative;
		z-index: 0;
		padding: 0;
		margin-bottom: 30px;
		border-bottom: 7px solid $verde-limao;
	}

	&.no-padding {
		padding: 0;
	}

	&.no-padding-bottom {
		padding-bottom: 0;
	}

	&.sombra {
		background: url('../images/bg_sombra.png') repeat-x top left;
	}

	&.box-page-sobre {
		padding: 50px 0;
	}

	&.box-sonhos {
		padding-bottom: 60px;
	}

	&.box-content-blog {
		.container {
			max-width: 1200px;
		}
	}

	&.cinza {
		background-color: #F1F1F2;
	}

	&.img-destaque {
		height: 50vh;
		background-position: center;
		background-size: cover;

		&.page-child {
			height: 30vh;
		}
	}

	.link_page_ancora {
		position: relative;
		top: -80px;
	}

	.link_ancora {
		position: absolute;
		bottom: 20px;
		left: 50%;
		margin-left: -85px;
		display: block;
		text-align: center;
		width: 170px;
		z-index: 999;
		@include animacao;

		span {
			margin: 0 auto;
			display: block;
			font-size: 1rem;
			line-height: 2rem;
			color: #ffffff;
		}

		.fa {
			color: #ffffff;
			font-size: 2rem;
			display: inline-block;
			border: 1px solid #ffffff;
			border-radius: 50%;
			width: 35px;
			height: 35px;
			line-height: 35px;
		}

		&:hover {
			opacity: .5;
		}
	}

	.img-content {
		width: auto;
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}

	.cont-box {
		background-color: #F1F1F2;
		padding: 80px 0 80px;
		position: relative;

		p {
			padding-left: 200px;
			padding-right: 50px;

			.img-detalhe {
				max-width: 100%;
				display: block;
				margin: 30px auto 0;
			}
		}

		&.ico-cont {
			margin-bottom: 60px;

			&:last-child {
				margin-bottom: 0;
			}

			.img-ico-cont {
				position: absolute;
				top: -45px;
				left: 0;
				max-width: 150px;
			}

			&.itens_detalhes {
				padding: 0 0px 0 140px;
				float: left;

				.box-distancia {
					padding: 20px 50px 20px 0;
					display: block;
					overflow: hidden;

					.col {
						float: left;
						width: 50%;
						padding: 0 10px;
						@include box-sizing;

						img {
							margin-top: 15px;
							max-width: 100%;
						}

						.tempo, .distancia {
							float: left;

							span {
								font-size: .8rem;
								display: block;
								text-align: center;
							}

							img {
								width: 95%;
								display: block;
								margin: 0 auto 5px;;
							}
						}

						.tempo {
							width: 20%;
						}

						.distancia {
							width: 70%;
							margin-left: 10%;
							margin-top: 25px;
						}
					}

					p {
						padding: 0;
					}
				}
			}
		}
	}
}