.nav {
	display: block;
	@include animacao();

	ul {
		display: block;
		margin: 0 auto;
		width: 760px;
		text-align: center;
		position: relative;
		z-index: 999;
		@include box-sizing;

		li {
			display: table;
			margin: 0px 10px;
			height: 127px;
			float: left;
			@include animacao();

			a {
				padding: 0 15px;
				display: table-cell;
				vertical-align: middle;
				font-size: 1.125rem;
				color: #ffffff;
				font-weight: $light;
				text-transform: uppercase;
				text-decoration: none;
				@include animacao();
			}

			&:not(.menu-home) { 
				> a {
					position: relative;
					top: 10px;
				}

				&:hover, &.active {
					background-color: $verde-limao;
				}

				&:hover {
					ul {
						display: block;
					}
				}
			}

			ul {
				background-color: rgba(#000000,.8);
				height: 160px;
				width: 100%;
				text-align: center;
				position: fixed;
				top: 134px;
				left: 0;
				display: none;
				z-index: 99;
				@include animacao;

				li {
					display: inline-block;
					height: 160px;
					margin: 0;
					padding: 0 20px;
					float: none;

					a {
						font-size: 1.125rem;
						color: #ffffff;
						font-weight: $light;
						text-transform: uppercase;
						text-decoration: none;
						padding: 20px 0;

						img {
							margin: 0 auto 10px;
							display: block;
							height: 72px;
						}
					}

					&:hover, &.active {
						background-color: rgba(#000000,.4)!important;

						a {
							color: $verde-limao;
						}
					}
				}
			}

			@media all and (max-width: 750px){
			}
		}
	}
}

/* menu mobile */
.menu-mobile {
	color: #ffffff;
	display: none;
	z-index: 9999;
	position: absolute;
	cursor: pointer;
	font-size: 2.5rem;
	top: 28px;
	right: 50px;
	@include animacao;

	&.active {
		color: $verde-limao;

		&:hover {
			color: #ffffff;
		}
	}

	&:hover {
		color: $verde-limao;
	}
}